@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
    width: 100%;
    height: 102px;
    border-bottom: 1px;
    display: flex;
    justify-content: space-between;
    padding: 30px  40px;
    background-color: #ffffff;
}

.logo{
    display: flex;
    width: 191px;
    height: 56px;
    padding: 8px;
    gap: 8px;
    align-items: center;
}
.Frame{
    background-color:#1C4A2A;
    height:40px;
    width:40px;
    border-radius: 20px ;
}
.trust{
    position: relative;
    top : 8.25px ;
    left : 8.25px;
}
.name{
    height: 34px;
    width: 127px;
    color: #1C4A2A;
}
.name p{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav-links{
    display: flex;
    align-items: center;
    width: 727px;
    height: 56px;
    gap: 48px;
}
.links ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 40px; 
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    color: #8C8C8C;
}
#home{
    width: 56px;
    height: 22px;
    color: #1C4A2A;
}
#blog{
    width: 107px;
    height: 22px;
}
#appointments{
    width: 131px;
    height: 22px;
}
#review{
    width: 74px;
    height: 22px;
}
.nav-login{
    display: flex;
    height: 44px;
    width: 257px;
    gap: 16px;
    position: relative;
    right: 30px;
}
.login{
    width: 144px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #E0E8E0;
    padding: 12px 32px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #0E2515;
    background-color: #E0E8E0;
    cursor: pointer;
}
.register{
    width: 131px;
    height: 44px;
    border-radius: 8px;
    padding: 12px 32px;
    background-color: rgba(28, 74, 42, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #E0E8E0;
    text-align: center;
    cursor: pointer;
}